@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Josefin+Sans:wght@400;700&display=swap');


/* ## Layout

- Mobile: 375px
- Desktop: 1440px */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {

    /* ### Primary */

    --Bright-Blue: hsl(220, 98%, 61%);
    --Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

    /* ### Light Theme */

    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
    --Light-Grayish-Blue: hsl(233, 11%, 84%);
    --Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

    /* ### Dark Theme */

    --Very-Dark-Blue: hsl(235, 21%, 11%);
    --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%) --Light-Grayish-Blue: hsl(234, 39%, 85%);
    --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
    --Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
    --Very-Dark-Grayish-Blue-2: hsl(237, 14%, 26%);

    /* ## Typography */

    --Weights: 400, 700;
    --Font-size: 18px;

}

/* Se agregó el background para que se aplique a todo el 
contenido de la página.  */
body {
    background: var(--blue-dark);
    height: 100vh;
    font-family: 'Fraunces', serif;
    font-family: 'Josefin Sans', sans-serif;
}

.app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    /*Se agregó un máximo ancho para la app. */
}

.editing {
    display: none;
}